<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="fb9ab6">  <td>17/02/07 08:58:36</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConfigurationTest.afterClass()[pri:0, instance:com.Upgradation.ConfigurationTest.ConfigurationTest@57fffcd7]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@280884709</td>   <td></td> </tr>
<tr bgcolor="fb9ab6">  <td>17/02/07 08:58:36</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConfigurationTest.afterMethod()[pri:0, instance:com.Upgradation.ConfigurationTest.ConfigurationTest@57fffcd7]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@280884709</td>   <td></td> </tr>
<tr bgcolor="fb9ab6">  <td>17/02/07 08:58:36</td>   <td>-5</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ConfigurationTest.beforeClass()[pri:0, instance:com.Upgradation.ConfigurationTest.ConfigurationTest@57fffcd7]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@280884709</td>   <td></td> </tr>
<tr bgcolor="fb9ab6">  <td>17/02/07 08:58:36</td>   <td>-4</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ConfigurationTest.beforeMethod()[pri:0, instance:com.Upgradation.ConfigurationTest.ConfigurationTest@57fffcd7]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@280884709</td>   <td></td> </tr>
<tr bgcolor="7d6578">  <td>17/02/07 08:58:36</td>   <td>-47</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UpgradeTest.deployement()[pri:0, instance:null]">deployement</td> 
  <td>main@280884709</td>   <td></td> </tr>
<tr bgcolor="fb9ab6">  <td>17/02/07 08:58:36</td>   <td>-4</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ConfigurationTest.f()[pri:0, instance:com.Upgradation.ConfigurationTest.ConfigurationTest@57fffcd7]">f</td> 
  <td>main@280884709</td>   <td></td> </tr>
</table>
