<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="849fce">  <td>17/02/17 09:04:27</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;UpgradeTest.afterClass()[pri:0, instance:com.Upgradation.Upgrade.UpgradeTest@31610302]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1627821297</td>   <td></td> </tr>
<tr bgcolor="849fce">  <td>17/02/17 07:59:59</td>   <td>-3867683</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;UpgradeTest.beforeMethod()[pri:0, instance:com.Upgradation.Upgrade.UpgradeTest@31610302]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1627821297</td>   <td></td> </tr>
<tr bgcolor="849fce">  <td>17/02/17 09:04:27</td>   <td>-2</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;UpgradeTest.configAfterMethod(org.testng.xml.XmlTest, org.testng.ITestResult)[pri:0, instance:com.Upgradation.Upgrade.UpgradeTest@31610302]">&lt;&lt;configAfterMethod</td> 
<td>&nbsp;</td>  <td>main@1627821297</td>   <td></td> </tr>
<tr bgcolor="849fce">  <td>17/02/17 08:00:05</td>   <td>-3862301</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UpgradeTest.deployement()[pri:0, instance:com.Upgradation.Upgrade.UpgradeTest@31610302]">deployement</td> 
  <td>main@1627821297</td>   <td></td> </tr>
</table>
